<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral" requirePermission="true"/>

  </configSections>

  <dataConfiguration defaultDatabase="LocalDatabase"/>
  <appSettings>
    <!--<add key="ReportServer" value="http://erpserver/reportserver" />
    <add key="ReportsFolder" value="/Reports_2/" />
    <add key="ReportserverDomain" value="erpserver" />
    <add key="ReportUserName" value="veenac" />
    <add key="ReportUserPwd" value="W30come" />-->
	  <add key="ReportServer" value="http://Geeta-TM/reportserver" />
	  <add key="ReportsFolder" value="/IIHTReports/" />
	  <add key="ReportserverDomain" value="Geeta-TM" />
	  <add key="ReportUserName" value="Geetak" />
	  <add key="ReportUserPwd" value="Dream-2015" />  
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="EnableSSL" value="true" />
    <add key="EmailUsername" value="fromemailid@gmail.com" />
    <add key="EmailPassword" value="fromemailid" />
    <add key="EmailFromCourseware" value="courseware11@gmail.com" />
    <add key="EmailCoursewarePass" value="anantapur" />
    <add key="AttachFile" value="G:\ERP 2011\SourceCode\\ErrFiles\\"/>
	<add key="QstImgUrl" value="http://localhost/DemoERP/QuestImage/"/>
	  <!--ExamResultFiles -->
	  <add key="logfile" value="G:\ERP 2011\SourceCode\\ErrFiles\\"/>  <!-- E:\\OnlineLogFiles\\-->
  </appSettings>
  
   <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />  
    <!-- LiveDB conn-->
	<!--<add name="LocalDatabase" connectionString="WMV2qTeZgwF/6uYqgmjM0nBsbEUOl1zWIQeWQSaUGcz3vEfoDNFOL0772QWrC29VqeBckp6mLw3djMIXDWnzuKAT8nTRlLvJAV9dfRxqFyQ=" providerName="System.Data.SqlClient" />-->
	<!--demoDB Connection-->
	<add name="LocalDatabase" connectionString="Aj6pAMM6CnwLgj5K4nzlMH2h+hceuhgoNEhNDUHiCkS393A36MYilwmif3gW1YqOJ9PDbVx6RqYKde3GkdgmHV9RH5oha803" providerName="System.Data.SqlClient" />
   </connectionStrings>

  <system.web>
    <globalization uiCulture="en-GB" culture="en-GB"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <customErrors defaultRedirect="Error.aspx" mode="Off">
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never">
      <controls>        
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

    </handlers>
  </system.webServer>
  

</configuration>
